@import '~antd/dist/antd.css';

/* 主容器高度与根节点 #root 一致 */
.ant-layout.ant-layout-has-sider{
  height: 100%
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #108ee9;
}

.logo {
  height: 32px;
  background: #333;
  border-radius: 6px;
  margin: 16px;
}

.ant-layout-sider-collapsed .anticon {
  font-size: 16px;
}

.ant-layout-sider-collapsed .nav-text {
  display: none;
}

.logo{
    text-align: center;
    line-height: 32px;
    background: #999;
    font-size: large;
}